KAFKA_BOOTSTRAP_SERVERS=broker1:9094,broker2:9094,broker3:9094
KAFKA_TOPIC=minio-events
KAFKA_GROUP_ID=minio-consumer-group

AIRFLOW_API_URL=http://airflow-webserver:8080/api/v1
API_USER=admin
API_PASSWORD=CHANGE_ME_airflow_admin_password

AIRFLOW_USER=admin
AIRFLOW_PASSWORD=CHANGE_ME_airflow_admin_password

MINIO_USER = CHANGE_ME_minio_user
MINIO_PASSWORD = CHANGE_ME_minio_password

MINIO_ADDRESS=minio:9000
# On a VPS replace host.docker.internal:5433 with ods-db:5432
POSTGRES_CONNECTION=postgresql://ods:CHANGE_ME_ods_password@host.docker.internal:5433
postgress_connection=postgresql://ods:CHANGE_ME_ods_password@host.docker.internal:5433
