# postgress_connection=postgresql://ods:CHANGE_ME_ods_password@localhost:5433
# In Docker use host.docker.internal (or ods-db on a VPS) instead of localhost.
# This value is normally injected by docker-compose env_file.
