POSTGRES_CONNECTION=postgresql://ods:CHANGE_ME_ods_password@localhost:5433/ods
#POSTGRES_CONNECTION=postgresql://ods:CHANGE_ME_ods_password@host.docker.internal:5433/ods
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC=crm_client_retry
