KAFKA_TOPIC=crm_address_persisted
KAFKA_GROUP_ID=address_geocoding

KAFKA_BOOTSTRAP_SERVERS=broker1:9094,broker2:9094,broker3:9094
POSTGRES_CONNECTION=postgresql://ods:CHANGE_ME_ods_password@ods-db:5432/ods
