KAFKA_BOOTSTRAP_SERVERS=localhost:9092,localhost:9095,localhost:9096
KAFKA_TOPIC=crm_client
POSTGRES_CONNECTION=postgresql://ods:CHANGE_ME_ods_password@localhost:5433/ods

CRM_ACTIVE_HOUR_START=6
CRM_ACTIVE_HOUR_END=24
CRM_MIN_SLEEP_SECONDS=2
CRM_MAX_SLEEP_SECONDS=90
CRM_MAX_BATCH_SIZE=10
