MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=CHANGE_ME_minio_access_key
MINIO_SECRET_KEY=CHANGE_ME_minio_secret_key

CLICKHOUSE_USER=flink_transaction_sink
CLICKHOUSE_PASSWORD=CHANGE_ME_must_match_clickhouse_users_xml
CLICKHOUSE_URL=jdbc:clickhouse://clickhouse:8123/marts_transaction?async_insert=1&wait_for_async_insert=0&async_insert_busy_timeout_ms=4000&async_insert_stale_timeout_ms=4000
POSTGRES_USER=ods
POSTGRES_PASSWORD=CHANGE_ME_ods_password
POSTGRES_URL=jdbc:postgresql://ods-db:5432/ods
POSTGRES_HOST=ods-db
