minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    volumes:
      - ./minio_data:/data 
    environment:
      MINIO_ROOT_USER: ${MINIO_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_PASSWORD}
      MINIO_BROWSER_REDIRECT_URL: https://minio-ui.${DOMAIN_NAME}
    command: server /data --console-address ":9001"
    labels:
      - "traefik.enable=true"
      # Konfiguracja API 
      - "traefik.http.routers.minio-api.rule=Host(`minio-api.${DOMAIN_NAME}`)"
      - "traefik.http.routers.minio-api.entrypoints=websecure"
      - "traefik.http.routers.minio-api.tls=true"
      - "traefik.http.routers.minio-api.tls.certresolver=mytlschallenge"
      - "traefik.http.services.minio-api.loadbalancer.server.port=9000"
      
      # Konfiguracja Konsoli 
      - "traefik.http.routers.minio-console.rule=Host(`minio-ui.${DOMAIN_NAME}`)"
      - "traefik.http.routers.minio-console.entrypoints=websecure"
      - "traefik.http.routers.minio-console.tls=true"
      - "traefik.http.routers.minio-console.tls.certresolver=mytlschallenge"
      - "traefik.http.services.minio-console.loadbalancer.server.port=9001"