# Kafka KRaft Cluster Configuration

# Cluster
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_CONTROLLER_QUORUM_VOTERS=1@broker1:9093,2@broker2:9093,3@broker3:9093

# Listeners
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093,DOCKER://0.0.0.0:9094
KAFKA_INTER_BROKER_LISTENER_NAME=DOCKER
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,DOCKER:PLAINTEXT

# Replication & Durability
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=3
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=3
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=2
KAFKA_MIN_INSYNC_REPLICAS=2
KAFKA_DEFAULT_REPLICATION_FACTOR=3

# Partitions
KAFKA_NUM_PARTITIONS=3
KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS=0
